<div class="row" id="admin-administrators-detail">
    <div class="col-xs-12">
        <div class="page-header">
            <h1><a href="/admin/administrators">Administradores</a> / {{administrator.name.full}}</h1>
        </div>
        <form name="contactForm"><fieldset>
            <legend>Información de Contacto</legend>
            <alert ng-repeat="alert in contactAlerts" type="{{alert.type}}" close="closeContactAlert($index)">{{alert.msg}}</alert>
            <div class="form-group" ng-class="{'has-error': hasError(contactForm.first)}">
                <label class="control-label" for="first">Nombre:</label>
                <input type="text" name="first" id="first" class="form-control" ng-model="administrator.name.first" required>
                <span class="help-block" ng-show="showError(contactForm.first, 'required')">Campo obligatorio</span>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(contactForm.last)}">
                <label class="control-label" for="last">Apellido:</label>
                <input type="text" name="last" id="last" class="form-control" ng-model="administrator.name.last" required>
                <span class="help-block" ng-show="showError(contactForm.last, 'required')">Campo obligatorio</span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" ng-disabled="!canSave(contactForm)" ng-click="updateAdmin()">Actualizar</button>
            </div>
        </fieldset></form>
        <form name="loginForm"><fieldset>
            <legend>Iniciar Sesión</legend>
            <alert ng-repeat="alert in loginAlerts" type="{{alert.type}}" close="closeLoginAlert($index)">{{alert.msg}}</alert>
            <div class="form-group" ng-class="{'has-error': loginForm.newUsername && hasError(loginForm.newUsername)}">
                <label class="control-label">Usuario::</label>
                <!-- show this div if there is an user linked to this administrator -->
                <div class="input-group" ng-show="administrator.user && administrator.user.name">
                    <input type="text" name="username" class="form-control" ng-model="administrator.user.name" disabled>
                    <div class="input-group-btn" >
                        <button type="button" class="btn btn-warning" ng-click="unlinkUser()">Desenlazar</button>
                        <a type="button" class="btn btn-default" ng-href="/admin/users/{{administrator.user.id}}">Abrir</a>
                    </div>
                </div>
                <!-- show this div if there isn't an user linked to this administrator -->
                <div class="input-group" ng-if="!(administrator.user && administrator.user.name)">
                    <input type="text" name="newUsername" placeholder="enter a username" class="form-control" ng-model="administrator.newUsername" required>
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success" ng-disabled="!(loginForm.newUsername.$dirty && loginForm.newUsername.$valid)" ng-click="linkUser()">Enlazar</button>
                    </div>
                </div>
                <span class="help-block" ng-if="!(administrator.user && administrator.user.name)" ng-show="showError(loginForm.newUsername, 'required')">Campo obligatorio</span>
            </div>
        </fieldset></form>
        <form name="permissionForm"><fieldset>
            <legend>Permisos</legend>
            <alert ng-repeat="alert in permissionAlerts" type="{{alert.type}}" close="closePermissionAlert($index)">{{alert.msg}}</alert>
            <div class="form-group">
                <label class="control-label">Nuevo:</label>
                <div class="input-group">
                    <input name="permission" type="text" placeholder="enter a name" class="form-control" ng-model="newPermission">
                    <div class="input-group-btn">
                        <button type="button" class="btn btn-success" ng-click="addPermission()">Añadir</button>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Opciones:</label>
                <div class="permissions">
                    <div class="input-group" ng-repeat="permission in administrator.permissions">
                        <input disabled ng-model="permission.name" class="form-control" disabled>
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-class="{disabled: permission.permit}" ng-click="togglePermission($index)">Permitir</button>
                            <button type="button" class="btn btn-default" ng-class="{disabled: !permission.permit}" ng-click="togglePermission($index)">Denegar</button>
                            <button type="button" class="btn btn-danger btn-delete" ng-click="deletePermission($index)"><i class="fa fa-trash-o fa-inverse"></i></button>
                        </div>
                    </div>
                    <span class="badge" ng-show="administrator.permissions.length === 0">No hay permisos</span>
                </div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" ng-click="saveSettings()">Guardar</button>
            </div>
        </fieldset></form>
        <form name="deleteForm"><fieldset>
            <legend>Zona peligrosa</legend>
            <alert ng-repeat="alert in deleteAlerts" type="{{alert.type}}" close="closeDeleteAlert($index)">{{alert.msg}}</alert>
            <div class="form-group">
                <span class="help-block">
                    <span class="label label-danger">Si haces esto, no se puede volver atrás.</span>&nbsp;<span class="text-muted">además podrías dejar información basura.</span>
                </span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-danger btn-delete" ng-click="deleteAdministrator()">Borrar</button>
            </div>
        </fieldset></form>
    </div>
</div>

