<div class="row">
    <div class="col-xs-12">
        <div class="page-header"><h1>Configuraciones de la Cuenta</h1></div>
    </div>
</div>
<div class="row">
    <div class="col-sm-9">
        <form name="detailForm">
            <legend>Información de contacto</legend>
            <alert ng-repeat="alert in alerts.detail" type="{{alert.type}}" close="closeAlert('detail', $index)">{{alert.msg}}</alert>
            <div class="form-group" ng-class="{'has-error': hasError(detailForm.first)}">
                <label class="control-label" for="first">Nombre:</label>
                <input type="text" name="first" id="first" class="form-control" ng-model="userDetail.first" required>
                <span class="help-block" ng-show="showError(detailForm.first, 'required')">Campo obligatorio</span>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(detailForm.middle)}">
                <label class="control-label" for="middle">Apellido 1:</label>
                <input type="text" name="middle" id="middle" class="form-control" ng-model="userDetail.middle">
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(detailForm.last)}">
                <label class="control-label" for="last">Apellido 2:</label>
                <input type="text" name="last" id="last" class="form-control" ng-model="userDetail.last" required>
                <span class="help-block" ng-show="showError(detailForm.last, 'required')">Campo obligatorio</span>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(detailForm.company)}">
                <label class="control-label" for="company">Asignatura:</label>
                <input type="text" name="company" id="company" class="form-control" ng-model="userDetail.company">
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(detailForm.phone)}">
                <label class="control-label" for="phone">Celular:</label>
                <input type="text" name="phone" id="phone" class="form-control" ng-model="userDetail.phone">
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(detailForm.zip)}">
                <label class="control-label" for="zip">Dirección:</label>
                <input type="text" name="zip" id="zip" class="form-control" ng-model="userDetail.zip">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-update" ng-disabled="!canSave(detailForm)" ng-click="submit(detailForm)">Actualizar</button>
            </div>
        </form>
        <form name="identityForm">
            <legend>Identidad</legend>
            <alert ng-repeat="alert in alerts.identity" type="{{alert.type}}" close="closeAlert('identity', $index)">{{alert.msg}}</alert>
            <div class="form-group" ng-class="{'has-error': hasError(identityForm.username)}">
                <label class="control-label" for="username">usuario:</label>
                <input type="text" name="username" id="username" class="form-control" ng-model="user.username" required server-error>
                <span class="help-block" ng-show="showError(identityForm.username, 'required')">Campo obligatorio</span>
                <span class="help-block" ng-show="showError(identityForm.username, 'server')">{{errfor.username}}</span>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(identityForm.email)}">
                <label class="control-label" for="email">Email:</label>
                <input type="email" name="email" id="email" class="form-control" ng-model="user.email" required server-error>
                <span class="help-block" ng-show="showError(identityForm.email, 'required')">Campo obligatorio</span>
                <span class="help-block" ng-show="showError(identityForm.email, 'email')">Por favor ingrese un email válido</span>
                <span class="help-block" ng-show="showError(identityForm.email, 'server')">{{errfor.email}}</span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-update" ng-disabled="!canSave(identityForm)" ng-click="submit(identityForm)">Actualizar</button>
            </div>
        </form>
        <form name="passwordForm">
            <legend>Cambiar contraseña</legend>
            <alert ng-repeat="alert in alerts.pass" type="{{alert.type}}" close="closeAlert('pass', $index)">{{alert.msg}}</alert>
            <div class="form-group" ng-class="{'has-error': hasError(passwordForm.password)}">
                <label class="control-label" for="password">Nueva Contraseña:</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="pass.newPassword" required>
                <span class="help-block" ng-show="showError(passwordForm.password, 'required')">Campo obligatorio</span>
            </div>
            <div class="form-group" ng-class="{'has-error': hasError(passwordForm.confirm)}">
                <label class="control-label" for="confirm">Confirmar Contraseña:</label>
                <input type="password" name="confirm" id="confirm" class="form-control" ng-model="pass.confirm" required>
                <span class="help-block" ng-show="showError(passwordForm.confirm, 'required')">Campo obligatorio</span>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-password" ng-disabled="!canSave(passwordForm)" ng-click="submit(passwordForm)">Cambiar contraseña</button>
            </div>
        </form>
    </div>
    <div class="col-sm-3" ng-if="social">
        <legend>Conexiones "SOCIAL"</legend>
        <alert ng-repeat="alert in socialAlerts" type="{{alert.type}}" close="closeSocialAlert($index)">{{alert.msg}}</alert>
        <a ng-repeat-start="(provider, property) in social" ng-if="property.connected" ng-click="disconnect(provider)" class="btn btn-block btn-danger"><i ng-class="'fa ' + property.icon + ' fa-lg'"></i> Desconectar {{property.text}}</a>
        <a ng-repeat-end target="_self" href="{{property.connect}}" ng-if="!property.connected" class="btn btn-block btn-default"><i ng-class="'fa ' + property.icon + ' fa-lg'"></i> Conectar {{property.text}}</a>
    </div>
</div>