h3 Olvidaste tu contraseña?
p
  | Recibimos una solicitur para resetear tu contraseña (#{username}).
p
  | Para modificarla, dirígete al siguiente enlace :
p
  a(href='#{resetLink}') #{resetLink}
p
  | Gracias,
  br
  | #{projectName}
