| Olvidaste tu contraseña?
= '\n'
= '\n'
| Recibimos una solicitur para resetear tu contraseña (#{username}).
= '\n'
= '\n'
| Para modificarla, dirígete al siguiente enlace:
| #{resetLink}
= '\n'
= '\n'
| Gracias,
| #{projectName}
