extends layout

block content

	section.hero
		.hero-content
			h2 BuscaTek
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				#message
				if message
					h1.text-center.error-message #{message}
				h1.text-center.login-title Inicie su Sesión
					div.account-wall
						img(class='profile-img', src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120')
						form(class='form-signin', action='/login', method='POST')
							input(type='text', name='username' class='form-control', placeholder='Usuario',required, autofocus)
							input(type='password', name='password' class='form-control', placeholder='Contraseña', required)
							button(class='btn btn-lg btn-primary btn-block', type='submit') Iniciar sesión
							span.clearfix
					a(href='/signup', class='text-center new-account') Registrarse